#root {
  height: 100vh;
  border: solid 10px burlywood;
  background-color: rgba(222, 184, 135, 0.521);
}

body {
  height: 100vh;
}

table td {
  width: 8rem;
}

.lastLabel {
  top: 3rem
}

.simulate-btn {
  width: 6rem;
}

.piece {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 100;
  border-radius: 50%;
}

.inside-piece {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(151, 130, 130, 0.178);
  margin-left: 0.44rem;
  margin-top: 0.44rem;
  z-index: 100;
  border-radius: 50%;
}

.dot {
  width: .3rem;
  height: .3rem;
  border: 1px solid rgba(151, 130, 130, 0.082);
  background-color: rgba(151, 130, 130, 0.096);
  z-index: 100;
  border-radius: 50%;
}

.dice {
  width: 5rem;
}


td, th {
  padding: 2px 5px;
  border: solid gray 1px !important;
  border-radius: 5px !important;
}

.row {
  width: 40rem !important;
  height: 50%;
}

.container {
  height: 80%;
  position: relative;
  bottom: 2rem;
  transform: scale(0.83)
}

@media (max-width: 1200px) {
  .container {
    transform: scale(0.5)
  }
}

.range-bar {
  transform: rotate(180deg) !important;
}

.range-container {
  bottom: 5rem;
}

.col {
  width: 3rem !important;
  background-color: burlywood;
  position: relative;
}

.col-bot {
  border-bottom: 5px solid brown !important;
}

.col-up {
  border-top: 5px solid brown !important;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 275px 18px 0 18px;
  border-color: #ff1e007c transparent transparent transparent;
}
.triangle-up-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 275px 18px 0 18px;
  border-color: #fcfcfc69 transparent transparent transparent;
}
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 275px 18px;
  border-color: transparent transparent #ff1e007c transparent;
}
.triangle-down-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 275px 18px;
  border-color: transparent transparent #fcfcfc69  transparent;
}